*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-image: linear-gradient(rgba(124, 124, 124, 0.1) , rgba(151, 244, 137, 0.768));
}

.container{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo |Moner| */
.btn-1 {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}


.btn-1 {
--text-stroke-color: gray;
--animation-color: rgba(7, 243, 23, 0.803);
--fs-size: 2em;
letter-spacing: 3px;
text-decoration: none;
font-size: var(--fs-size);
font-family: "Arial";
position: relative;
text-transform: uppercase;
color: transparent;
-webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
position: absolute;
box-sizing: border-box;
content: attr(data-text);
color: var(--animation-color);
width: 0%;
inset: 0;
overflow: hidden;
transition: 0.5s;
-webkit-text-stroke: 1px var(--animation-color);
}

.btn-1:hover .hover-text {
width: 100%;
filter: drop-shadow(0 0 23px var(--animation-color))
}

.nav-bar ul{
    gap: 30px;
}

.nav-bar .nav-link{
    color: gray;
    font-size: 1.3em;
    font-weight: 500;
}

.nav-bar .nav-link:hover{
    --animation-color: rgba(7, 243, 23, 0.803);
    filter: drop-shadow(0 0 23px var(--animation-color));
    color: rgba(7, 243, 23, 0.803);
    
}

.btn-2{
    padding: 0.6em 0.8em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 45px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-2:hover {
    background-color: rgba(7, 243, 23, 0.803);
    box-shadow: 0 0 20px rgba(7, 243, 23, 0.803);
    color: #fff;
}


.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65vh;
}

.left-content {
    margin-top: 65px;
}

.left-content h3 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: gray;
}

.left-content h1 {
    font-size: 4.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.2;
    color: gray;
    margin: -10px 0 0 0;
}

h1 span {
    --animation-color: rgba(7, 243, 23, 0.803);
    filter: drop-shadow(0 0 23px var(--animation-color));
    color: rgba(7, 243, 23, 0.803);
}

.left-content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    color: gray;
    margin-bottom: 30px;
    width: 50%;
}

/* From Uiverse.io by mrhyddenn */ 
.btn-3 {
  position: relative;
  right: 0.2em;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid gray;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: gray;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-3:hover {
  background: rgba(7, 243, 23, 0.803);
  box-shadow: 0 0 30px 5px rgba(7, 243, 23, 0.803);
  border: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn-3:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.btn-3::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btn-3:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.btn-4 {
  position: relative;
  left: 0.5em;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid gray;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: gray;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-4:hover {
  background: rgba(7, 243, 23, 0.803);
  box-shadow: 0 0 30px 5px rgba(7, 243, 23, 0.803);
  border: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn-4:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.btn-4::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btn-4:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


.right-content{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.right-content .img-1{
    position: absolute;
    bottom: -2%;
    right: -2%;
    height: 90vh;
}

.right-content .img-2{
    position: absolute;
    bottom: 5%;
    right: -10%;
    height: 70vh;
    z-index: -1;
}


.wrapper {
    display: inline-flex;
    list-style: none;
    height: 20vh;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}








